extends layout

block content
  #map
  
  script(src='javascripts/chatSocket.js')
  script(src='javascripts/mapSocket.js')
   
   
    
  form(method='post', enctype='multipart/form-data', action='/file-upload') 
    input(type='file', name='thumbnail' , accept='image/*')
    input(type='submit')

    
    