extends layout

block content
  #map
  p sending Images to the map via the Camera API is under development.
  To test the App place an image to the watched folder.
  copy images form 'public/testImages/' to 'public/watched/'. Thanks!
  script(src='javascripts/mapSocket.js')
  
  #wraper1
 
  
 
    input#take-picture(method='post', type='file', accept='image/*', action='/file-upload')
    h2 Preview:
    p
      img#show-picture(src='about:blank', alt='')
      p#error
  script(src='javascripts/base.js')