body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

 
#messages {
    padding: 0px;
    list-style-type: none;
    }

#messages li {
    padding: 2px 0px;
    border-bottom: 1px solid #ccc;
    }

#notes {
    color: white;
    background-color: rgb(185, 158, 188);
    }

#map {
    clear: both;
    width: 98%;
    height: 300px;
    margin: 0px auto 0px auto;
    /*border: solid;*/
    /*border-width: 1px;
    box-shadow: 2px 5px 20px*/
    }
  
#wraper2 {
    clear: both;
    margin-top: 20px;
    width: 90%;
    height: 100px;
    margin: 0px auto 0px auto; 
    overflow: scroll
    }
    
#wraper1{
  clear: both;
}
  p{
    
  }
  
#device{
  color: red;
   margin: 0px auto 0px auto;
   text-align: center;
}
#ImageWraper{
   text-align: center;
}
#tipImage{
   height: 7em;
   width: 7em;
   margin: 0px auto 0px auto;
  
}
  
#show-picture{
  height: 7em;
  width: 7em;
}
  
  #when{
     margin: 0px auto 0px auto;
     text-align: center;
  }
  